window {
    margin: 0px;
    border: 1px solid #1c2128; /* theme: base01 */
    background-color: #131314; /* theme: base00 */
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", sans-serif;
    font-size: 13px;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#input {
    margin: 5px;
    border: none;
    color: #fafafa; /* theme: base07 */
    background-color: #1c2128; /* theme: base01 */
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #fafafa; /* theme: base07 */
}

#entry:selected {
    background-color: #1c2128; /* theme: base01 */
}

#text:selected {
    color: #2f81f7; /* theme: blue accent */
}
